:root {
    --general: #9BB0C1;
    --general1: #51829B;
    --general1-darker: #41728B;
    --accent: #F6995C;
    --accent1: #EADFB4;
    --accent1-darker: #DACFA4;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--general);
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: monospace;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2rem;
}

p {
    padding: 1%;
    margin: 1%;
}

.clear-float {
    float: none;
}

/* HEADER */

header {
    font: large;
    text-align: center;
    font-family: monospace;
    background-color: var(--accent);
    color: white;
    overflow: auto;
    /* I still do not know, how does it work. */
}

div#title {
    width: min-content;
    float: left;
    padding: 1%;
    color: white;
}

div#navigation-bar {
    float: left;
    font-size: x-large;
    height: 100%;
}

div#navigation-bar ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#navigation-bar li {
    float: left;
}

div#navigation-bar a {
    color: black;
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

div#navigation-bar a:hover {
    background-color: var(--accent1);
    text-decoration-line: underline;
}

/* MAIN */

main {
    background-color: var(--general);
}

section {
    padding: 16px 5%;
    overflow: auto;
}

/* CATEGORIES */

section#categories {
    background-color: var(--general1);
}

section#categories ul#categories-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

section#categories li.category {
    float: left;
}

section#categories li.category div {
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

section#categories div ul {
    padding: 1;
    font-style: italic;
    list-style-type: square;
    color: white;
}

/* POPULAR */

section#popular-articles div {
    width: 45%;
    float: left;
    margin: 2%;
    padding: 2%;
    background-color: var(--accent1);
}

/* FOOTER */

footer {
    /* background-color: var(--general1); */
    background: var(--general1-darker);
}

footer div {
    float: left;
    width: 40%;
    padding: 1% 5%;
    margin: 1% 5%;
}