:root {
    --general: #9BB0C1;
    --general-dark: #7B90A1;
    --general1: #51829B;
    --general1-dark: #31627B;
    --accent: #F6995C;
    --accent1: #EADFB4;
    --accent1-darker: #DACFA4;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--general-dark);
    background-image: url("res/img/bg.png");
    background-size: contain;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: monospace;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2rem;
}

p {
    padding: 1%;
    margin: 1%;
}

a {
    color: inherit;
    font-weight: bold;
}

a:hover {
    font-style: italic;
}

.clear-float {
    float: none;
}

/* Header */

header {
    font: large;
    text-align: center;
    font-family: monospace;
    background-color: var(--accent);
    color: white;
    padding: 0 1%;
}

header>div {
    display: grid;
    place-content: left;
    width: min-content;
}

header img {
    max-width: 150px;
    height: auto;
}

nav {
    grid-column: 2;
    font-size: x-large;
    width: max-content;
    height: 100%;
    margin: 0 16px;

    align-content: center;
    justify-content: center;
}

nav>ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    color: black;
    display: block;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}

nav a:hover {
    font-style: normal;
    background-color: var(--accent1);
    text-decoration-line: underline;
}

h1.title {
    font-size: xx-large;
}

/* Main */

section {
    margin: 16px 8%;
    padding: 16px 5%;
    overflow: auto;
    border-radius: 16px;
    background-color: var(--general);
}

/* Categories */

section#categories {
    border-radius: 16px;
    overflow: auto;
    background-color: var(--general1-dark);
    color: var(--general);
}

section#categories>ul {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

section#categories>ul>li {
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

section#categories li>ul {
    flex-flow: wrap;
    padding: 1;
    font-style: italic;
    list-style-type: square;
}

/* Popular */

section#popular-articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.0);
}

section#popular-articles>article {
    width: fix-content;
    min-width: 256px;
    max-width: 98%;
    padding: 0;
    margin: 5px auto;
    background-color: var(--general1);
    border-radius: 16px;
}

section#popular-articles>article:hover {
    color: var(--general);
    background-color: var(--general1-dark);

    pointer-events: none;

    animation-name: popular-article-hover;
    animation-duration: 0.3s;
}

@keyframes popular-article-hover {
    from {
        /* background-color: initial; */
        color: black;
    }

    to {
        /* background-color: var(--accent1); */
        color: var(--general);
    }
}

div.article-card-thumbnail {
    border-radius: 16px 16px 0px 0px;
    margin: 0px;
    padding: 10% 0;
    width: 100%;
    height: 256px;
    background: center;
    background-color: black;
    background-size: cover;
    text-decoration: none;
    pointer-events: auto;
}

div.article-body {
    padding: 2%;
    pointer-events: none;
}

/* Article page */

section.article-thumbnail {
    border-radius: 16px;
    padding: 10% 0;
    /* width: 100%; */
    height: 256px;
    background: center;
    background-color: black;
    background-size: cover;
    text-decoration: none;
}

/* Thumbnails */

#article-0 {
    background-image: url(res/img/article-0.jpg);
}

#article-1 {
    background-image: url(res/img/article-1.webp);
}

#article-2 {
    background-image: url(res/img/article-2.jpg);
}

/* Form */

form {
    border-radius: 16px;
    padding: 1% 5%;
    margin: 1% 5%;
}

/* Footer */

footer {
    align-items: center;
    overflow: auto;
    background-color: var(--general1);
    background-image: url(res/img/bedrock.jpg);
    background-size: 42px;
}

footer>div {
    display: flex;
    border-radius: 16px;
    padding: 1% 5%;
    margin: 1% 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--general);
}

footer p {
    font: bolder;
    width: max-content;
}

img.contact-icon {
    width: 20px;
    filter: invert();
}